html,
body {
  height: 100%;
  margin: 0;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 768px) {
  .editor-container {
    flex-direction: row;
  }
}

#input,
#output {
  width: 100%;
  height: 50%;
}

@media (min-width: 768px) {
  #input,
  #output {
    width: 50%;
    height: 100%;
  }
}

#input {
  border: none;
  outline: none;
  resize: none;
  padding: 1rem;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#output {
  padding: 1rem;
  overflow: auto;
}

/* Divider */
@media (max-width: 768px) {
  #output {
    border-top: 1px solid #ccc;
  }
}

@media (min-width: 768px) {
  #output {
    border-left: 1px solid #ccc;
  }
}
#themeToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

#counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.9rem;
  color: #777;
  z-index: 10;
}
